html
{
    height: 100%;
}

body
{
    overflow: hidden;
}

.title
{
    font-size: 5em;

    margin-top: 10%;
    margin-bottom: 10%; 

    text-align: center;
}

.qualityUR1
{
    font-size: 2em; 

    text-align: center;
}

.qualityUR2
{
    font-size: 2em; 

    text-align: center;
}

.qualityUR3
{
    font-size: 2em; 

    text-align: center;
}

.material-icons
{
    font-size: 1.5em;
}

.radio
{
    text-align: center;
}
.radio i
{
    font-size: 24em;
}

.mdl-navigation__link
{
    font-size: 3em;
    line-height: 50px;
}

.mdl-navigation
{
    background: white;
}

#wrapper_for_radio1
{
    height: 100vh; 

    border: 1px solid black;
    background: cadetblue;
}

#wrapper_for_radio2
{
    height: 100vh; 

    border: 1px solid black;
    background: indianred;
}

#wrapper_for_radio3
{
    height: 100vh;

    border: 1px solid black;
}

.mdl-button--icon
{
    width: 10px;
    height: 100px;

    text-align: center;
}

.mdl-menu__item
{
    font-size: 1.5em;

    padding: 0; 

    text-align: center;
}

.mdl-menu
{
    padding: 0;
}

.mdl-layout__drawer
{
    background: #fff;
}

.mdl-layout__content
{
    overflow: hidden;
}

.mdl-navigation__link
{
    color: black !important;
}

#UR1:hover
{
    color: cadetblue !important;
}

#UR2:hover
{
    color: indianred !important;
}

#UR3:hover
{
    color: white !important;
}
